<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <connectionStrings>
    <add name="MaterialManagementDbContext" connectionString=" Server=localhost\JAIME;Database=MaterialManagement;Integrated Security=True;Pooling=false;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Use in the given format 1.00 [MAX 2 decimals]-->
    <add  key="HoursForRunTimeService" value="0.00"/>
    <add  key="MinutesForRunTimeService" value="0.00"/>
    <add  key="SecondsForRunTimeService" value="60.00"/>
  </appSettings>
  
</configuration>